/* GLOBAL */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
}
header{
    background-color: #C5C3C5;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

fieldset{
    border: 1px black;
    border-style: solid;
    width: fit-content;
}

/* Estilização de Títulos */

h1{
    font-size: 1.4em;
    padding: 0.5em;
}

button{
    border: none;
    box-shadow: 1px 1px 2px black;
}


/* INDEX */

/* Campo principal*/
.fieldHistMsg{
    transform: translateY(calc(50vh - 50%));
}

.divReadMsg{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.fieldMsg{
    width: calc(100% - 2px);
    border-color: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
}

.btnExcl1{
    background-color: black;
    font-weight: 600;
    border-radius: 2em;
}

.msgEBotoes{
    margin-bottom: 1rem;
}

.histMsg{
    height: 15rem;
    width: 37rem;
    overflow-y: scroll;
}

.divBtnsEditExcl{
    display: flex;
    justify-content: right;
}

.btnEnv{
    background-color: #0060c7;
}

.divWriteMsg{
    display: flex;
    justify-content: center;
}

.fieldWriteMsg{
    background-color: #afaeaf;
    display: flex;    
}

#txtArea{
    margin: 0.5rem;
}

.btnEnv{
    color: white;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}